



head{
    
}
body{

background-color: rgb(223, 242, 245);
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
 
}
.containerh{
    text-align: right;
    grid-template-columns: 64% 36%;
    display: grid;
    justify-content: right;
    
}

#doctor1{   
    background-color: rgb(227, 251, 225);
    border: 3px solid rgb(30, 163, 18) ;
    border-radius: 10px;
    padding : 10px
}
#doctor2{ 
    background-color: rgb(251, 215, 249);
    border: 3px solid rgb(128, 8, 122) ;
    border-radius: 10px;
    padding : 10px
}
#doctor3{ 
    background-color: rgb(231, 229, 255);
    border: 3px solid rgb(48, 36, 183) ;
    border-radius: 10px;
    padding : 10px
}
.container1{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 10px
}

footer{
      background-color: rgb(241, 244, 233);
    border: 2px solid rgb(196, 233, 32) ;
    border-radius: 10px;
    padding : 10px;
    margin-top: 10px;

}
.boton{
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.right-text{
    text-align: right;
    color: black   ;
}
.left-text{
    text-align: left;
    color: black   ;
}
.center-text{
    text-align: center;
    color: black   ;
}
.botonE{
    background-color: #f28bdb; 
  border: none;
  color: rgb(26, 9, 51);
  padding: 6px 20px;
  text-align: center;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px; 
  border-color: black;
  border: 2px solid;
}